* {
  margin:0;
  box-sizing: border-box;
}
.top {
  height: 60px;
  background-color: indigo;
  line-height: 60px;
  text-align: center;
}

input {
  height: 30px;
  width: 400px;
  padding-left: 10px;
}

button {
  height: 30px;
}

main {
  display: flex;
  flex-direction: row;
  padding: 8px;
}

.card {
  width: 250px;
  height: 250px;
  margin: 8px;
  padding: 10px;
  background-color: yellowgreen;
}

.completed {
  text-decoration: line-through;
  cursor: pointer;
}

.not-completed {
  text-decoration: none;
  cursor: pointer;
}